.colorpicker-layout-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 30px;
  border-left: 1.5px solid #767676;
}

/* Button Settings */

.info {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.btn-group {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.btn {
  border: 1px solid #a09f9f;
  border-radius: 3px;
  background: transparent;
  padding: 6px 20px;
  margin: 0px 10px;
  color: rgb(48, 48, 48);
}

.btn:hover {
  cursor: pointer;
  background: #838383;
  border: none;
  color: white;
  transition: background ease-in 100ms;
}

.btn:disabled {
  background: #dddddd;
  color: rgb(151, 151, 151);
  border: none;
}

.text-input {
  border: 1px solid #a09f9f;
}

.hex-input-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 10px 0px 20px 0px;
}

.hex-text-input {
  padding: 8px 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #a09f9f;
  border-right: none;
}

.copy {
  margin: 0px !important;
  font-size: 13px;
  padding: 9px 10px 5px 10px;
}

/* React Colorful */
.color-picker .react-colorful {
  height: 60vh !important;
  width: 320px;
}

/* -------------------------- Color Desc ----------------------- */

.color-information {
  display: flex;
  justify-content: column;
}

.color-conversion {
  border: 1px solid #a09f9f;
  margin: 5px 0px;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.title {
  width: 90px;
  color: white;
  background: #838383;
  padding: 9px 4px 9px 4px;
}

.description {
  text-align: center;
  padding: 9px 20px;
}

.description:hover {
  cursor: pointer;
}

/* ------------------------ Color Format ----------------------- */

.main-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.format-header {
  font-size: 14px;
  font-weight: 800 !important;
  margin-bottom: 8px;
}

select {
  padding: 5px 10px;
}

/* --------------------- Color Format Sub ----------------- */

.sub-format .format-header {
  margin-top: 20px;
  margin-bottom: 15px;
}

.sub-format .color-format {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sub-format .color-format .title {
  width: 50px !important;
  text-align: center;
  border: 1px solid #a09f9f;
}

.sub-format .color-format .description {
  width: 60px !important;
  text-align: center;
  border: 1px solid #a09f9f;
  height: 15px;
}

.sub-format .color-format .description:hover {
  cursor: default;
}

.Red {
  background: red;
  color: white;
}

.Green {
  background: green;
  color: white;
}

.Blue {
  background: blue;
  color: white;
}


@media only screen and (max-width: 991px) {
  .colorpicker-layout-container {
    display: flex;
    border-left: none;
  }

  /* React Colorful */
  .color-picker .react-colorful {
    height: 550px !important;
    width: 350px;
  }
}
