/* ----------------------------------------------------- */
/* -------------- Main Canvas CSS (Default) ------------ */
/* ----------------------------------------------------- */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
}

.header-caption {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(to right, #4285F4, #EA4335, #34A853);
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.label-caption {
    margin: 10px;
    line-height: 30px;
    text-indent: 30px;
    text-align: justify;
}

.button-menu {
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 2px;
    border: 0px;
    color: white;
    transition: 0.3s;
}

.button-menu:hover {
    cursor: pointer;
    background: #CCC !important;
}

/* ----------------------------------------------------- */
/* ----------------- Modal Container ------------------- */
/* ----------------------------------------------------- */

.modal-container {
    display: flex;
}

/* ----------------------------------------------------- */
/* --------------------- Media Query ------------------- */
/* ----------------------------------------------------- */

/* Add media query for tablet and smaller screens */
@media (max-width: 768px) {
    .main-container {
        padding: 10px;
    }

    .header-caption {
        font-size: 24px;
    }

    .label-caption {
        text-indent: 15px;
    }

    .large-screen-content {
        display: none;
    }
}

/* Adjust container for smaller screens */
@media (max-width: 576px) {
    .main-container {
        padding: 50px 20px;
    }
}