/* ----------------------------------------------------- */
/* -------------- Main Canvas CSS (Default) ------------ */
/* ----------------------------------------------------- */

.canvas-layout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 60px 40px;
    border-radius: 10px;;
}

.header-caption {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.label-caption {
    margin: 10px;
    line-height: 30px;
    text-indent: 30px;
    text-align: justify;
}

/* ----------------------------------------------------- */
/* ----------------- Modal Container ------------------- */
/* ----------------------------------------------------- */

.modal-container {
    display: flex;
}

/* ----------------------------------------------------- */
/* --------------------- Media Query ------------------- */
/* ----------------------------------------------------- */

/* Add media query for tablet and smaller screens */
@media only screen and (max-width: 991px) {
    .canva-layout-container {
        padding: 10px;
    }

    .header-caption {
        font-size: 24px;
    }

    .label-caption {
        text-indent: 15px;
    }

    .large-screen-content {
        display: none;
    }
}

